.OuterContainer{
    background-image: linear-gradient(to right, rgb(246,238,248),rgb(246,238,248), #fff,rgb(238,259,248));
}
.InnerContainer{
    max-width: var(--max-screen-width);
    margin: 0 auto;
    /* border: 2px solid red; */

    /* height: 100vh; */
}
.UpperContainer{
    width: 100%;
    display: flex;
    /* align-items: center; */
    position: relative;
}
.LeftTextContainer{
    width: 60%;
    /* border: 2px solid blue; */
    padding: 180px 0 0 0;
    margin: 0 0 0 20px;
}
.MainTextContainer p:nth-child(1){
    color: var(--blue);
    font-size: 52px;
    font-family: 'OpenSans-ExtraBold';
}
.MainTextContainer p:nth-child(2){
    color: var(--black);
    opacity: 0.8;
    font-family: 'OpenSans-SemiBold';
    font-size: 22px;
    margin: 10px 0 20px 0;
}
.RightImageContianer{
   width: 40%;

}
.ImageContainer{
    position: relative;
    width: 100%;
    /* border: 2px solid orange; */
}
.MainImage{
    width: 100%;
}
.MainImage img{
    width: 100%;
    height: auto;
}
.BitCoinImage{
    position: absolute;
    /* border: 2px solid yellow; */
    top: 280px;
    left: 45px;
}
.DodgeContainer{
    position: absolute;
    right: 55px;
    bottom: 250px;
}
.EthereumContainer{
    position: absolute;
    right: 40px;
    top: 100px;
}
.StartButtonContainer{
    width: 28%;
}
.StartButtonContainer button{
    width: 100%;
    padding: 10px 0;
    border: none;
    outline: none;
    background: linear-gradient(100.92deg, #282974 40.78%, #01BAD2 187.16%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 15px;
    font-family: 'OpenSans-SemiBold';
    font-size: 20px;
}
.StatsContainer{
    /* position: absolute; */
    /* width: 100vw; */
    box-sizing: border-box;
    margin:  -150px 0 0 15px;
    position: relative;
    z-index: 9999;
/* bottom: -50px;
border: 2px solid red; */

    /* background-image: linear-gradient(to right, rgb(246,238,248),rgb(246,238,248), #fff,rgb(238,259,248)); */
}
.OuterStatsContainer{
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 150px;
    width: 95%;
    /* margin: auto; */
}
.ReceivedApplicationContainer p:nth-child(1),.ServedApplication p:nth-child(1),.GovernmentOfficials p:nth-child(1),.ActiveUsers p:nth-child(1){
    text-align: center;
    color: var(--blue);
  font-family: 'OpenSans-Bold';
   font-size: 52px;
}
.ReceivedApplicationContainer p:nth-child(2),.ServedApplication p:nth-child(2),.GovernmentOfficials p:nth-child(2),.ActiveUsers p:nth-child(2){
    color: var(--blue);
    opacity: 0.8;
    font-family: 'OpenSans-SemiBold';
    font-size: 22px;
}