.OuterContainer {
  background-image: linear-gradient(
    to right,
    rgb(246, 238, 248),
    rgb(246, 238, 248),
    #fff,
    rgb(238, 259, 248)
  );
}
.InnerContainer {
  max-width: var(--max-screen-width);
  margin: 0 auto;
  position: relative;
}
.MainContainer{
    padding: 50px 0 0 0;
}
.OuterUpperContainer {
  width: 369px;
  height: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
  border-radius: 20px 20px 0px 0px;
  padding: 10px;
  box-sizing: border-box;
}
.UpperCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ViewOfficersPage {
  text-align: right;
  margin: 10px 25px 0 0;
}
.ViewOfficersPage a {
  color: #26b3e0;
}
.SchemesContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}
.ProfileContainer{
    display: flex;
    align-items: center;
    gap: 30px;
}
.ProfileImageContainer{
    width: 15%;
}
.ProfileImageContainer img{
    width: 100%;
    height: auto;
}
.UserNameContainer p{
    color: var(--blue);
    font-family: 'OpenSans-Bold';
    font-size: 20px;
}
.MetamaskContainer,.WalletBalance{
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}
.MetamaskContainer span img{
    width: 25px;
    height: auto;
    cursor: pointer;
    margin: 0 0 0 5px;
}
.MetamaskContainer span,.WalletBalance span{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'OpenSans-SemiBold';
    margin: 0 0 0 5px;
    font-size: 18px;
}
.MetamaskContainer p,.WalletBalance p{
    color: var(--blue);
    font-family: 'OpenSans-SemiBold';
    font-size: 18px;
}
.DisconnectButton{
    /* margin: 40px auto 0 auto; */
    width: 100%;
  
}
.DisconnectButton button{
    width: 100%;
    background: linear-gradient(96.72deg, #282974 44.73%, #1B5993 114.86%);
box-shadow: 0px 2.75676px 2.75676px rgba(0, 0, 0, 0.25);
border-radius: 6.89189px;
color: var(--white);
padding: 12px 0;
font-size: 18px;
font-family: 'OpenSans-Bold';
cursor: pointer;
}
.AppliedScheme{
    margin: 50px 0 0 0;
}
.AppliedText p{
    color: var(--blue);
    font-family: 'OpenSans-Bold';
    font-size: 22px;
    margin:  0  0 30px 10px;
}